.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header {
  text-align: center;
  padding-top: 2rem;
}

.timerWrapper {
  position: relative;
}

.svg {
  transform: rotate(-90deg);
}

.timerCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.time {
  font-size: 3.5rem;
  font-weight: bold;
}

.remaining {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.footer {
  width: 100%;
  padding-bottom: 2rem;
}

.primaryButton {
  width: 90%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--accent);
  color: var(--accent-primary-text);
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.animated {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite, glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

.endButton {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: #f99191;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
}

.warning {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

.endedText {
  text-align: center;
  font-size: 1rem;
}
