.row {
  display: flex;
  align-items: center;
  gap: 10px;          /* 4 gaps => 40px */
  flex-wrap: nowrap;
}

.circle {
  width: 55px;
  height: 55px;
  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  background-color: var(--accent);
}
