.gradeCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5em;
  background-color: var(--accent);
  border-radius: 0.6em;
}

.header {
  margin-bottom: 1em;
}

.title {
  margin: 0 0 0.5em 0;
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--accent-primary-text);
}

.subtitle {
  margin: 0;
  font-size: var(--p-font-size);
  color: var(--accent-secondary-text);
}

.gaugeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--accent-secondary-text);
}